<h1>Staff Members</h1>

<%= form_with url: staffs_path, method: :get, data: { turbo: true } do %>
  <div class="mb-3">
    <%= label_tag :staff_role, "Filter by Role", class: "form-label" %>
    <%= select_tag :staff_role, options_for_select(User.roles.keys.map { |role| [role.titleize, role] }),
               include_blank: true, class: "form-select" %>
  </div>
  <%= submit_tag "Filter", class: "btn btn-primary" %>
<% end %>

<%= turbo_frame_tag "staff_list" do %>
  <%= render partial: "staff_list", locals: { staff: @staffs } %>
<% end %>